*.suo
*.user
*.sln.docstates
*.dll
*.pdb
[Dd]ebug/
[Rr]elease/
_ReSharper.NopCommerce/
Libraries/
Packages/
Presentation/Nop.Web/Content/Images/Thumbs/
Presentation/Nop.Web/[Bb]in/
Presentation/Nop.Web/Administration/[Bb]in/



